*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:black;
}

.logo{
font-size:24px;
font-weight:900;
}

nav a{
margin:15px;
color:#aaa;
text-decoration:none;
}

nav a:hover{
color:white;
}

.join-btn{
background:white;
color:black;
padding:10px 20px;
border:none;
font-weight:600;
cursor:pointer;
}

/* HERO */

.hero{
height:90vh;
background:url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48");
background-size:cover;
display:flex;
align-items:center;
padding-left:8%;
}

.hero-text h1{
font-size:70px;
font-weight:900;
}

.hero-text p{
margin-top:10px;
font-size:20px;
color:#aaa;
}

.hero-text button{
margin-top:20px;
padding:15px 30px;
background:white;
color:black;
border:none;
font-size:18px;
}

/* PROGRAMS */

.programs{
padding:80px 8%;
}

.program-container{
display:flex;
gap:20px;
margin-top:30px;
flex-wrap:wrap;
}

.program-card{
background:#111;
border-radius:10px;
overflow:hidden;
width:300px;
}

.program-card img{
width:100%;
height:200px;
object-fit:cover;
}

.program-card h3{
padding:15px;
}

/* MEMBERSHIP */

.membership{
padding:80px 8%;
}

.membership-container{
display:flex;
gap:20px;
margin-top:30px;
flex-wrap:wrap;
}

.membership-card{
background:#111;
padding:30px;
border-radius:10px;
width:250px;
}

.premium{
background:white;
color:black;
}

.membership-card button{
margin-top:15px;
padding:10px 20px;
border:none;
cursor:pointer;
}

/* FOOTER */

footer{
padding:30px;
text-align:center;
background:black;
color:#aaa;
}
